.hidden-section {
  display: none;
}

nav ul li a.active {
  color: black;
}

.porfolio,
.about {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s;
}

.porfolio.show,
.about.show {
  opacity: 1;
  visibility: visible;
}
